@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for the map canvas */
.map-container {
  @apply relative overflow-hidden;
}

.map-container canvas {
  @apply block;
}

/* Hide number input arrows */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}